@use '../../styles/styles' as *;

#default-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;

    .image-container {
        display: flex;
        width: 5rem;
        height: 5rem;
        padding: 4px;
        margin: 0;
        border-radius: 20px;
        background-image: linear-gradient($primary-color, $secondary-color);

        img {
            width: 100%;
            height: 100%;
            border-radius: 20px;
        }
    }

    .di-label {
        color: $greyscale-200;
        font-weight: bold;
        margin: 0;
        font-size: 1rem;
    }
    

}