.hire-us {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 70px;
  background: #e153e3;
  color: #fff;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #e153e3;
  letter-spacing: 2px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
