@use "../../styles/colors" as *;

.hire-us {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 47px;
  margin: 10px;
  font-size: 2rem;
  font-weight: 600;
  font-family: "Rajdhani", sans-serif;
  letter-spacing: 2px;
  cursor: pointer;
  color: $greyscale-200;
  background: $primary-color;
  border-radius: 6px;
  border: none;
  background-image: $gradiente;

  &:hover {
    background-image: linear-gradient(
      darken($color: $primary-color, $amount: 20),
      darken($color: $secondary-color, $amount: 20)
    );
  }
}
